@import "until.scss";
@import "base.html";
$font: "Roboto", sans-serif;
body{
    width: 100%;
    height: 100dvh;
    background-size: cover;
   background-color: #6E7191;
}
nav{
display: flex;
padding-top: 10px;
padding:10px;
justify-content: space-between;
background-color: #4E4B66;
align-items: center;



    
}

.question{
    display: flex ;
    gap: 20px;
    cursor: pointer;

    .help{
        display: flex;
        height: 20px;
        color: aliceblue;
        gap: 10px;
        @include responsive(smartphone-portrait) {
            display: none;
        
        }
    }
    

}


.left-nav{
align-items: center;
padding-left: 50px;
background-color: #14142B;
width: 250px;
height: 100%;
@include responsive(smartphone-portrait) {
    display: none;
    
}
.list{
padding-bottom:130px ;
color: azure;
font-family: $font;
}
    .li{
    padding-top: 20px;
    cursor: pointer;
    }


}  
 