@import "until.scss";
$font: "Roboto", sans-serif;
body{
    width: 100%;
    height: 100dvh;
    background-size: cover;
   background-color: #14142B;
}
.hero-img{
    height: 100px;
    
}
.title{
    font-size:50px;
    width: 130px;
    color: white;
     font-family: $font;
}
.little-title{
    font-size:20px;
    color: white;
     font-family: $font;
     width: 250px;
     padding-top: 20px;
     font-family: $font;
}
.hero-title{
padding-left: 100px;
padding-top:100px ;
}
.img{
float: inline-end;
margin-top: -480px;
height: 99%;
}